.col-md-12
  %table#semi_finished-table.display.datatable-table{'data-source': semi_finisheds_url(format: 'json')}
    %thead
      %th.table-45 Наименование
      %th.table-10 Ед. измерения
      %th.table-10 L
      %th.table-10 A
      %th.table-10 B
    %tbody

