.col-md-12
  %table#job-table.display.datatable-table{'data-source': jobs_url(format: 'json')}
    %thead
      %th.table-15 Наименование
      %th.table-20 Цена
      %th.table-45 Время
      %th.table-20 Печатать
    %tbody


