.col-xs-12
  %table#job-table.display.datatable-table{'data-source': jobs_url(format: 'json')}
    %thead
      %th.table-35 Наименование
      %th.table-35 Наименование для печати
      %th.table-10 Цена
      %th.table-10 Время
      %th.table-10 Печатать
    %tbody


