.col-xs-12
  %table#job-table.display.datatable-table{'data-source': jobs_url(format: 'json')}
    %thead
      %th.table-35
        = t('all_form.name')
      %th.table-35
        = t('all_form.name_for_print_om')
      %th.table-10
        = t('all_form.price')
      %th.table-10
        = t('all_form.time')
    %tbody


