.col-md-12
  %table#counterparty-table.display.datatable-table{'data-source': counterparties_url(format: 'json')}
    %thead
      %th.table-45 Наименование
      %th.table-45 Короткое наименование
      %th.table-10 Тип
    %tbody


