.col-md-12
  %table#payroll-table.display.datatable-table{'data-source': payrolls_url(format: 'json')}
    %thead
      %th
        = t('all_form.number')
      %th
        = t('all_form.date')
      %th
        = t('all_form.worker')
    %tbody


