.col-md-12
  %table#order_manufacturing-table.display.datatable-table{'data-source': order_manufacturings_url(format: 'json')}
    %thead
      %th.table-15 Дата
      %th.table-20 Номер
      %th.table-45 Контрагент
      %th.table-20 Счет
    %tbody


