.col-md-12
  %table#order_manufacturing-table.display{"data-source": order_manufacturings_url(format: "json")}
    %thead
      %th.table-data Дата
      %th.table-number Номер
      %th.table-counterparty Контрагент
      %th.table-invoice Счет
    %tbody
      -#=render @order_manufacturings

