.col-md-12
  %table.table-datatable.display
    %thead
      %th.table-data Дата
      %th.table-number Номер
      %th.table-counterparty Контрагент
      %th.table-invoice Счет
    %tbody
      =render @order_manufacturings

