.col-md-12
  %table#order_manufacturing-table.display.datatable-table{'data-source': order_manufacturings_url(format: 'json')}
    %thead
      %th.table-10 Дата начала
      %th.table-10 Дата отгрузки
      %th.table-20 Номер
      %th.table-45 Контрагент
      %th.table-5 Счет
      %th.table-10 Статус
    %tbody


