.container
  .row
    .col-md-12.table-header
      .col-md-2.table-header-cell
        Номер
      .col-md-2.table-header-cell
        Номер
  -@order_manufacturings.each do |o_m|

      = o_m.


t.string	:number,    null: false
  t.string	:date,      null: false
  t.string	:invoice
  t.text	  :note
  t.belongs_to	:counterparty

= paginate @order_manufacturings