.col-md-12
  %table#item-table.display.datatable-table{'data-source': items_url(format: 'json')}
    %thead
      %th.table-45 Наименование
      %th.table-10 Ед. измерения
      %th.table-15 Себестоимость
      %th.table-15 Вес
    %tbody


