.col-md-12
  %table#worker-table.display.datatable-table{'data-source': workers_url(format: 'json')}
    %thead
      %th.table-20 Фамилия
      %th.table-20 Имя
      %th.table-20 Отчество
      %th.table-20 Должность
    %tbody


