.col-md-12
  %table#purchase_invoice-table.display.datatable-table{'data-source': purchase_invoices_url(format: 'json')}
    %thead
      %th.table-10 Номер
      %th.table-10 Дата
      %th.table-45 Контрагент
      %th.table-15 Статус
    %tbody


