// Place all the styles related to the payroll controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.o_m_payroll_details {
  background-color: rgba(0, 255, 0, 0.2);
  font-size: 18px;
  font-weight: bold;
}